doctype html

- var is_testing_refresh_active = false

html
    head
        block head
            meta(charset='utf8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            if is_testing_refresh_active
               meta(http-equiv="refresh" content="30")  

    body
        block header
        block main
        block footer

