
extends _base.pug

block append head
    title civil-cultural - Home
    link(rel="stylesheet" href="./css/icon.css")
    link(rel="stylesheet" href="css/home.css")
     

block header
    header.toolbar
        .toolbar--navbar-app-icon
            <i class="material-icons">account_circle</i>

        nav.toolbar--navbar
            ul.toolbar--navbar-option-list
                li.toolbar--navbar-option
                    <a class="toolbar--navbar-button" href=""><i class="material-icons">home</i></a>
                li.toolbar--navbar-option
                    <a class="toolbar--navbar-button" href=""><i class="material-icons">favorite</i></a>
                li.toolbar--navbar-option
                    <a class="toolbar--navbar-button" href=""><i class="material-icons">person</i></a>
                li.toolbar--navbar-option.is-selected
                    <a class="toolbar--navbar-button" href=""><i class="material-icons">settings</i></a>
