/**
 * //////////////////////////////////////////
 * normalize
 * //////////////////////////////////////////
 */
@import (inline) 'normalize.css';

/**
 * //////////////////////////////////////////
 * pure/base
 * //////////////////////////////////////////
 */
@import (inline) 'pure/src/base/css/base.css';

/**
 * //////////////////////////////////////////
 * home.less
 * //////////////////////////////////////////
 */
@import (less, reference) 'pure/src/menus/css/menus-core.css';
@import (less, reference) 'pure/src/menus/css/menus-horizontal.css';
@import (less, reference) 'pure/src/menus/css/menus-skin.css';

@import (less, reference) 'pure/src/grids/css/grids-core.css';

@background-primary: #494554;
@background-secondary: #545060;
@background-tertiary: #35323d;

@foreground-primary: #634ab5;

@foreground-text: #eee;

:root {
    background-color: @background-tertiary;
}

.toolbar {
    &:extend(.pure-menu);
    &:extend(.pure-menu-horizontal.pure-menu);
    &:extend(.pure-menu-horizontal);

    &:extend(.pure-g);

    background-color: @background-secondary;
    
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    position: fixed;
    display: flex;
    width: 100%;
    

    &--navbar {
        &:extend(.pure-g .pure-u-1-5);
       
        &-app-icon {
            &:extend(.pure-menu-link all);
            &:extend(.pure-menu-heading all);
           
            color: @foreground-text;
        }

        &-option-list {
            &:extend(.pure-menu-list all);
            &:extend(.pure-u-3-5);
        }

        &-option {
            &:extend(.pure-menu-horizontal .pure-menu-item);
            &:extend(.pure-menu-item);
        }

        &-button:extend(.pure-menu-horizontal .pure-menu-link) {}
        &-button:extend(.pure-menu-link) {
            color: @foreground-text;
        }
        
        @selected-key-animation-time: .5s;

        @keyframes selected-button-bar-rising {
            from {
                height: 0px;
                background-color: @foreground-text;
            }

            to {
                height: 5px;
                background-color: @foreground-primary;
            }
        }
        
        @keyframes selected-button-animation {
            from {
                color: @foreground-text;
            }

            to {
                color: @foreground-primary;
            }
        }

        &-option.is-selected &-button,
        &-option.is-selected &-button::after {
            animation-timing-function: cubic-bezier(.35,-0.5,.37,1.28);
        }

        &-option.is-selected &-button {
            &:extend(.pure-menu-selected);
           
            animation-name: selected-button-animation; 
            animation-duration: @selected-key-animation-time;
            color: @foreground-primary;
        }

        &-option.is-selected &-button::after {
           content: ' ';
           position: absolute;
           display: block;
           width: 56px;
           height: 5px;
           bottom: 0px;
           left: 0px;

           animation-name: selected-button-bar-rising;
           animation-duration: @selected-key-animation-time;
           background-color: @foreground-primary;
        }
    }
}

